.section_10{
    max-width: 144rem;
    height: 126.7rem;
    margin: auto;
    padding: 0 1rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }